.swiper-slide {
    display: flex !important;

    align-items: center !important;
    justify-content: center !important;
}

.swiper-slide>img {
    max-width: 500px;
    max-height: 600px;

    width: 100%;
    height: 100%;

    background-size: cover;
}